.watermark-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watermark {
    color: rgba(255,0,0,.15);
    font-size: 120px;
    transform: rotate(-45deg);
}